@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
:root {
    --background-color: #efe7e5;
    --text-color: black;
}


.topnav {
    background-color: #333;
    overflow: hidden;
    }
    .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }
    .topnav a.active {
        background-color: #04AA6D;
        color: white;
    }
    
    

    
    
    body {
        font-family: 'Roboto', sans-serif;
        margin: 3% 3%;
        background-color: var(--background-color);
        color: var(var(--text-color));
    }
    


    
    p {
        line-height: 25px;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    nav ul {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        list-style-type: none;
        font-weight: 500;
    }
    nav ul li {
        margin-left: 40px;
        font-size: 15px;
         cursor: pointer;
         position: relative;
    }
    nav ul li span {
        position: absolute;
        top: -5px;
        right: -28px;
    }





    

header {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .header-left{
    flex: 6;
    margin-right: 50px;
}
header .header-left small{
    font-weight: bold;
    display: flex;
    align-items: center;
}
header .header-left h1{
    font-size: 50px;
    font-weight: 400;
    margin-top: 15px;
}
header .header-left .links {
    margin-top: 80px;
}
header .header-left .links a {
    text-decoration: none;
    color: inherit;
    position: relative;
    margin-right: 40px;
    font-weight: bold;
}
header .header-left .links a span {
    position: absolute;
    top: -5px;
    right: -28px; 
}
header .header-right{
    flex: 5;
}
header .header-right img {
    width: 100%;
}


.about {
    margin-top: 150px;
}
.about p {
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
}

h2 {
    text-align: center;
    margin: 50px;
    color:#04AA6D;
    font-size: 30px;
}

.container {
    width: 100%;
    margin: 0 auto;
    align-items: center;
}


.info {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
   
}


.info li {
    background-color: #d7c7c7;
    padding: 20px;
    margin-bottom: 20px;
    width: 30%;
    font-family: "Avenir", sans-serif;
    color:#999999;
    border-radius: 10px;
    margin: 10px;
}


.info-item img {
    display: block;
    margin: 0 auto;
    width: 350px;
    height: auto;
   
}


.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
 

.popup .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
  }
 
  .popup .content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #222222;
    color: #888888;
    z-index: 2;
    text-align: left;  /* Set text to be left-aligned */
    padding: 20px;
    box-sizing: border-box;
    transition: all 300ms ease-in-out;
    width: max-content;
    max-width: 50%;
}


.popup .content p {
    text-align: left;  /* Ensure paragraphs are left-aligned */
}


.popup .content a {
    display: block;
    text-align: center;  /* Center align the links */
    margin-top: 10px;
}


.popup .content .close-btn {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: #222;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}


.popup.active .overlay {
    display: block;
}


.popup.active .content {
    transform: translate(-50%, -50%) scale(1);
}


#show-popup-btn-1,
#show-popup-btn-2,
#show-popup-btn-3,
#show-popup-btn-4,
#show-popup-btn-5,
#show-popup-btn-6,
#show-popup-btn-7,
#show-popup-btn-8,
#show-popup-btn-9,
#show-popup-btn-10,
#show-popup-btn-11,
#show-popup-btn-12,
#show-popup-btn-13,
#show-popup-btn-14,
#show-popup-btn-15,
#show-popup-btn-16,
#show-popup-btn-17,
#show-popup-btn-18,
#show-popup-btn-19,
#show-popup-btn-20,
#show-popup-btn-21,
#show-popup-btn-22,
#show-popup-btn-23,
#show-popup-btn-24,
#show-popup-btn-25,
#show-popup-btn-26,
#show-popup-btn-27,
#show-popup-btn-28,
#show-popup-btn-29,
#show-popup-btn-30,
#show-popup-btn-31,
#show-popup-btn-32,
#show-popup-btn-33,
#show-popup-btn-34,
#show-popup-btn-35,
#show-popup-btn-36,
#show-popup-btn-37,
#show-popup-btn-38,
#show-popup-btn-39,
#show-popup-btn-40,
#show-popup-btn-41,
#show-popup-btn-42,
#show-popup-btn-43,
#show-popup-btn-44,
#show-popup-btn-45,
#show-popup-btn-46,
#show-popup-btn-47,
#show-popup-btn-48 {
    background-color: #a5b65d;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    box-shadow: 0 3px 5px 2px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}


#show-popup-btn-1:hover,
#show-popup-btn-2:hover,
#show-popup-btn-3:hover,
#show-popup-btn-4:hover,
#show-popup-btn-5:hover,
#show-popup-btn-6:hover,
#show-popup-btn-7:hover,
#show-popup-btn-8:hover,
#show-popup-btn-9:hover,
#show-popup-btn-10:hover,
#show-popup-btn-11:hover,
#show-popup-btn-12:hover,
#show-popup-btn-13:hover,
#show-popup-btn-14:hover,
#show-popup-btn-15:hover,
#show-popup-btn-16:hover,
#show-popup-btn-17:hover,
#show-popup-btn-18:hover,
#show-popup-btn-19:hover,
#show-popup-btn-20:hover,
#show-popup-btn-21:hover,
#show-popup-btn-22:hover,
#show-popup-btn-23:hover,
#show-popup-btn-24:hover,
#show-popup-btn-25:hover,
#show-popup-btn-26:hover,
#show-popup-btn-27:hover,
#show-popup-btn-28:hover,
#show-popup-btn-29:hover,
#show-popup-btn-30:hover,
#show-popup-btn-31:hover,
#show-popup-btn-32:hover,
#show-popup-btn-33:hover,
#show-popup-btn-34:hover,
#show-popup-btn-35:hover,
#show-popup-btn-36:hover,
#show-popup-btn-37:hover,
#show-popup-btn-38:hover,
#show-popup-btn-39:hover,
#show-popup-btn-40:hover,
#show-popup-btn-41:hover,
#show-popup-btn-42:hover,
#show-popup-btn-43:hover,
#show-popup-btn-44:hover,
#show-popup-btn-45:hover,
#show-popup-btn-46:hover,
#show-popup-btn-47:hover,
#show-popup-btn-48:hover {
    background-color: #888888;
}



footer {
    margin-top: 100px;
}
footer p{
    position: relative;
    text-align: center;
    font-size: 18px;
    margin-top: 60px;
}


@media (max-width:991px){
    html{
       font-size: 55%;
    }
} 
@media (max-width:768px){
    .products-preview .preview img{
       height: 25rem;
    }
} 
 @media (max-width:450px){ 
    html{
       font-size: 50%;
    } 
}
